/* 0. Reset ================================= */
@import 'reset';

/* 1. Main Layout ================================= */
*{
	box-sizing: border-box;
}

body{
	background: #fff;
}

/* 2. Content ================================= */
.wrapper{
	width: 100%;
	height: 100vh;
}

header{
	background: url(../img/mobile-bkg-1.png) no-repeat top right;
	background-size: 100%;
	width: 100%;
	height: 100%;
	transition: .5s;
	
	.logo{
		width: 50%;
		height: auto;
		margin: 50px 25%;
		transition: .5s;
	}

	nav{
		position: absolute;
		right: 0;
		top: 0;

		ul{
			display: flex;
			flex-direction: column;

			a{
				text-decoration: none;
			}
		}
	}
}

.body{
	position: relative;
	background: url(../img/mobile-bkg-2.png) no-repeat top;
	background-size: 100%;
	width: 100%;
	height: 100%;
	margin-top: -500px;
	transition: .2s;
}

@media screen and (min-width: 740px){
	header{
		background: url(../img/home-bkg-1.png);
		background-size: cover;

		.logo{
			width: 20%;
			height: auto;
			margin: 50px 42.5%;
			transition: .2s;
		}	
	}

	.body{
		background: url(../img/home-bkg-2.png);
		background-size: cover;
	}
}

@media screen and (min-width: 980px){
	
}